<!-- 
  To create a new post, get information and send it to the URL. 
  action - specifies where to send the form-data when the form is submitted.
  method - specifies the HTTP method to use when sending form-data.  
-->
<div class = "container">
    <form action="/save_new_post" method="POST">
        <div class="form-group">
            <label for="title"> Title </label>
            <input name="title" type="text" class="form-control" id="title" placeholder="제목을 써 주세요.">
        </div>
        <div class="form-group">
            <label for="content"> Content </label>
            <textarea name="content" type="text" class="form-control" row"7" id="content" placeholder="내용을 써 주세요."></textarea>
        </div>
   	<div class ="form-group">
            <label for ="tag_list"> Tag </label>
            <input name="tag_list" type="text" class="form-control" id="title" placeholder="#태그를 써 주세요">
        </div>
        <div class ="form-group">
            <label for="image"> Image </label>
            <input name="image" type="text" class="form-control" row"1" id="content" placeholder="이미지 URL 또는 경로를 써 주세요 ">
        </div>
        <div class ="form-group">
            <button type="submit" class="btn btn-default" style="margin-top:20px"> Submit </button>
        </div>
    </form>
</div>